@use "/scss/components" as *;

.app-icon {
    align-items: center;
    aspect-ratio: 1;
    background-color: $white;
    border-radius: $sz-400;
    display: flex;
    height: $sz-800;
    justify-content: center;
    padding: $sz-400;
    transition-duration: 0.125s;
    transition-property: background-color, scale;
    transition-timing-function: ease-out;

    &:hover {
        background-color: $neutral-200;
        cursor: pointer;
        scale: 1.125;
    }

    svg {
        height: 100%;
        width: 100%;
    }

    @include bp("sm") {
        height: $sz-900;
        padding: $sz-500;
    }
}
