@use "/scss/components" as *;

.app-icon {
    align-items: center;
    aspect-ratio: 1;
    background-color: $white;
    border-radius: 20%;
    display: flex;
    height: $sz-800;
    justify-content: center;
    padding: $sz-600;
    transition: 0.125s background-color ease-out;

    &:hover {
        background-color: rgb($white, 0.625);
        cursor: pointer;
    }

    svg {
        height: 100%;
        width: 100%;
    }

    @include bp("sm") {
        height: $sz-700;
        padding: $sz-500;
    }
}
