@use "/scss/abstracts" as *;

.container {
    align-items: center;
    background-color: $black;
    display: grid;
    flex-grow: 1;
    gap: $sz-500;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        ". activeTab"
        ". activeTab"
        ". activeTab"
        ". activeTab";
    padding: $sz-900;

    .tab-button {
        background-color: $neutral-900;
        border: none;
        border-radius: $sz-300;
        cursor: pointer;
        color: $white;
        font-size: $fs-300;
        font-weight: bold;
        height: fit-content;
        padding: $sz-500;
        text-align: left;
    }

    .custom-tab {
        display: none;
        color: $white;
    }

    .active-tab {
        display: flex;
        flex-direction: column;
        gap: $sz-500;
        grid-area: activeTab;
    }
}
