@use "/scss/components" as *;

.container {
    margin-inline: auto;
    padding: $sz-600;

    @include bp("sm") {
        padding-block: $sz-700;
    }

    @include bp("md") {
        padding-block: $sz-800;
    }

    @include bp("lg") {
        max-width: 640px;
    }

    @include bp("xl") {
        max-width: 768px;
    }

    @include bp("2xl") {
        max-width: 1024px;
    }
}
