@use "/scss/components" as *;

.container {
    margin-inline: auto;
    padding: $sz-600 $sz-500;

    @include bp("sm") {
        margin-top: $sz-300;
    }

    @include bp("lg") {
        margin-top: $sz-400;
        max-width: 640px;
    }

    @include bp("xl") {
        margin-top: $sz-500;
        max-width: 768px;
    }

    @include bp("2xl") {
        margin-top: $sz-600;
        max-width: 1024px;
    }
}
