@use "/scss/abstracts" as *;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    font-size: $fs-300;
    font-weight: $fw-light;
    line-height: 1;

    @include bp("md") {
        font-size: $fs-400;
    }

    @include bp("lg") {
        font-size: $fs-500;
    }

    @include bp("xl") {
        font-size: $fs-600;
    }

    @include bp("2xl") {
        font-size: $fs-700;
    }
}
