@use "/scss/abstracts" as *;

#home {
    .main {
        display: grid;
        gap: $sz-500;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;

        > * {
            margin-inline: auto;
            width: fit-content;
        }
    }

    @include bp("sm") {
        .main {
            gap: $sz-500;
            grid-template-columns: repeat(5, 1fr);
        }
    }

    @include bp("md") {
        .main {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    @include bp("lg") {
        .main {
            gap: $sz-600;
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include bp("xl") {
        .main {
            grid-template-columns: repeat(8, 1fr);
        }
    }
}
