@use "/scss/components" as *;

.calculator {
    display: grid;
    font-weight: $fw-regular;
    gap: $sz-300;
    margin-inline: auto;

    &__display {
        align-items: flex-end;
        background-color: $white;
        border-radius: $sz-400;
        display: flex;
        flex-direction: column;
        gap: $sz-400;
        height: $sz-900;
        justify-content: center;
        padding-inline: $sz-500;
    }

    &__keys {
        display: grid;
        gap: $sz-300;
        grid-auto-columns: 1fr;
        grid-template-areas:
            "actions actions actions operations"
            "digits digits digits operations"
            "digits digits digits operations"
            "digits digits digits operations"
            "digits digits digits operations";
        user-select: none;

        > * {
            display: grid;
            gap: $sz-300;
        }
    }

    &__key {
        align-items: center;
        background-color: $white;
        border-radius: $sz-200;
        aspect-ratio: 1.5;
        display: flex;
        justify-content: center;
        transition: 0.05s background-color ease-out;

        &.disabled {
            background-color: $neutral-200;

            &:hover {
                cursor: not-allowed;
            }
        }

        &:hover:not(.disabled) {
            background-color: $neutral-100;
            cursor: pointer;
            transition: none;
        }
    }

    &__actions {
        grid-area: actions;
        grid-template-columns: repeat(3, 1fr);
    }

    &__digits {
        grid-auto-rows: 1fr;
        grid-area: digits;
        grid-template-columns: repeat(3, 1fr);
    }

    &__operations {
        grid-area: operations;
    }

    @include bp("sm") {
        width: max-content;

        &__keys {
            grid-auto-columns: rem(112);
        }
    }

    @include bp("md") {
        &__keys {
            grid-auto-columns: rem(128);
        }
    }

    @include bp("lg") {
        &__keys {
            grid-auto-columns: rem(144);
        }
    }

    @include bp("xl") {
        &__keys {
            grid-auto-columns: rem(160);
        }
    }

    @include bp("2xl") {
        &__keys {
            grid-auto-columns: rem(176);
        }
    }
}
