<div class="calculator">
    <div class="calculator__display">
        <p id="input" class="calculator__input"></p>
        <p id="result" class="calculator__result"></p>
    </div>
    <div class="calculator__keys">
        <div class="calculator__actions">
            <div id="reset" class="calculator__key | disabled">CE</div>
            <div id="reset-all" class="calculator__key">C</div>
            <div id="back" class="calculator__key | disabled">back</div>
        </div>
        <div id="digits" class="calculator__digits">
            <div id="7" class="calculator__key">7</div>
            <div id="8" class="calculator__key">8</div>
            <div id="9" class="calculator__key">9</div>
            <div id="4" class="calculator__key">4</div>
            <div id="5" class="calculator__key">5</div>
            <div id="6" class="calculator__key">6</div>
            <div id="1" class="calculator__key">1</div>
            <div id="2" class="calculator__key">2</div>
            <div id="3" class="calculator__key">3</div>
            <div id="sign" class="calculator__key">+/-</div>
            <div id="0" class="calculator__key">0</div>
            <div id="point" class="calculator__key">,</div>
        </div>
        <div class="calculator__operations">
            <div id="divide" class="calculator__key">/</div>
            <div id="multiply" class="calculator__key">x</div>
            <div id="minus" class="calculator__key">-</div>
            <div id="plus" class="calculator__key">+</div>
            <div id="equals" class="calculator__key">=</div>
        </div>
    </div>
</div>
