@use "/scss/components" as *;

.calculator {
    display: grid;
    font-weight: $fw-regular;
    gap: $sz-300;

    &__display {
        align-items: flex-end;
        background-color: $white;
        border-radius: $sz-300;
        display: flex;
        flex-direction: column;
        gap: $sz-300;
        height: $sz-700;
        justify-content: center;
        padding-inline: $sz-500;
    }

    &__keys {
        display: grid;
        gap: $sz-300;
        grid-auto-columns: 1fr;
        grid-template-areas:
            "actions actions actions operations"
            "digits digits digits operations"
            "digits digits digits operations"
            "digits digits digits operations"
            "digits digits digits operations";
        user-select: none;

        > * {
            display: grid;
            gap: $sz-300;
        }
    }

    &__key {
        align-items: center;
        background-color: $white;
        border-radius: $sz-300;
        aspect-ratio: 2;
        display: flex;
        justify-content: center;
        transition: 0.05s background-color ease-out;

        &:hover {
            background-color: $neutral-100;
            cursor: pointer;
            transition: none;
        }
    }

    &__actions {
        grid-area: actions;
        grid-template-columns: repeat(3, 1fr);
    }

    &__digits {
        grid-auto-rows: 1fr;
        grid-area: digits;
        grid-template-columns: repeat(3, 1fr);
    }

    &__operations {
        grid-area: operations;
    }
}
