@use "functions" as *;

// Colors
$white: #fff;
$neutral-100: #fafafa;
$neutral-200: #f5f5f5;
$neutral-300: #e0e0e0;
$neutral-400: #bdbdbd;
$neutral-500: #9e9e9e;
$neutral-600: #757575;
$neutral-700: #616161;
$neutral-800: #424242;
$neutral-900: #212121;
$black: #000;

// Font size
$fs-100: rem(12);
$fs-200: rem(18);
$fs-300: rem(22);
$fs-400: rem(26);
$fs-500: rem(30);
$fs-600: rem(34);
$fs-700: rem(38);
$fs-800: rem(42);
$fs-900: rem(46);

// Font weight
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// Sizing
$sz-100: em(1);
$sz-200: em(2);
$sz-300: em(3);
$sz-400: em(5);
$sz-500: em(10);
$sz-600: em(20);
$sz-700: em(60);
$sz-800: em(120);
$sz-900: em(180);
