@use "functions" as *;

// Colors
$white: #fff;
$neutral-100: #cfd8dc;
$neutral-200: #b0bec5;
$neutral-300: #90a4ae;
$neutral-400: #78909c;
$neutral-500: #607d8b;
$neutral-600: #546e7a;
$neutral-700: #455a64;
$neutral-800: #37474f;
$neutral-900: #263238;
$black: #000;

// Font size
$fs-100: rem(12);
$fs-200: rem(14);
$fs-300: rem(16);
$fs-400: rem(18);
$fs-500: rem(20);
$fs-600: rem(24);
$fs-700: rem(30);
$fs-800: rem(36);
$fs-900: rem(48);

// Font weight
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// Sizing
$sz-100: rem(1);
$sz-200: rem(4);
$sz-300: rem(8);
$sz-400: rem(12);
$sz-500: rem(16);
$sz-600: rem(32);
$sz-700: rem(48);
$sz-800: rem(64);
$sz-900: rem(96);
