<div class="navbar">
    <div class="segment left">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" class="icon">
            <path fill="#F5F5F5" d="M.83 9.17h8.34V.83L.83 9.17Zm7.5-.84H7.08V4.1l1.25-1.25v5.48Z" />
        </svg>

        <div id="ping">
            26 ms
        </div>
    </div>

    <div class="segment center" id="time">
        16:36
    </div>

    <div class="segment right">
        <div id="date">
            28/09/22
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" class="icon">
            <g fill="#F5F5F5" clip-path="url(#a)">
                <path d="M6.47 1.17a.85.85 0 0 0-1.18 0L1.17 5.29a.83.83 0 0 0 0 1.18l2.36 2.36a.83.83 0 0 0 1.18 0l4.12-4.12a.83.83 0 0 0 0-1.18L6.47 1.17ZM4.12 8.24v.42-.42L1.76 5.88l4.12-4.12 2.36 2.36-4.12 4.12Z" />
                <path d="M3.75 6.67a.42.42 0 1 0 0-.84.42.42 0 0 0 0 .84ZM6.54 9.04l-.58-.58 2.5-2.5.58.58-2.5 2.5ZM3.46.96l.58.58-2.5 2.5-.58-.58 2.5-2.5Z" />
            </g>
            <defs>
                <clipPath id="a">
                    <path fill="#fff" d="M0 0h10v10H0z" />
                </clipPath>
            </defs>
        </svg>

        <div class="battery">
            <div id="battery">
                100%
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" class="icon">
                <path fill="#F5F5F5" d="M7.08 9.17H2.92a.42.42 0 0 1-.42-.42V1.67c0-.23.19-.42.42-.42h4.16c.23 0 .42.19.42.42v7.08c0 .23-.19.42-.42.42Z" />
                <path fill="#F5F5F5" d="M5.83 2.7H4.17c-.13 0-.21-.07-.21-.2V1.04c0-.12.08-.2.2-.2h1.67c.13 0 .21.08.21.2V2.5c0 .13-.08.2-.2.2ZM7.08 9.17H2.92a.42.42 0 0 1-.42-.42V2.71h5v6.04c0 .23-.19.42-.42.42Z" />
            </svg>
        </div>
    </div>
</div>