@use "/scss/components" as *;

.navbar {
    display: flex;
    background-color: $black;
    color: $white;
    padding: $sz-300 $sz-400;
    justify-content: space-between;

    .segment {
        display: flex;
        gap: $sz-300;
        align-items: center;
        flex: 1;

        &.right {
            justify-content: flex-end;
        }

        &.center {
            justify-content: center;
        }
    }

    .icon {
        align-items: center;
        display: flex;
    }

    .battery {
        display: flex;
        gap: $sz-300;

        .text {
            align-items: center;
            display: flex;
        }
    }
}
