@use "/scss/components" as *;

.clock-container {
    font-weight: $fw-regular;

    .clock-main-content {
        #stopwatch-page,
        #timer-page {
            display: none;
        }
    }

    .clock-menu {
        .clock-menu-button {
            border: rem(2) solid $white;
            border-bottom: none;
            border-radius: $sz-200 $sz-200 0 0;
            color: $white;
            cursor: pointer;
            padding: $sz-300 $sz-500 $sz-200;
        }
    }
}
