<div class="clock-container">
    <div class="clock-main-content">
        <div id="clock-page">
            <custom-clock-component></custom-clock-component>
        </div>
        <div id="stopwatch-page">stopwatch page</div>
        <div id="timer-page">timer page</div>
    </div>

    <div class="clock-menu">
        <button class="clock-menu-button" data-argument="clock">Clock</button>
        <button class="clock-menu-button" data-argument="stopwatch">
            Stopwatch
        </button>
        <button class="clock-menu-button" data-argument="timer">Timer</button>
    </div>
</div>
