<div class="tictactoe-container">
    <div id="local-results">
        <p id="x-win-local"></p>
        <p id="o-win-local"></p>
    </div>
    <div id="game">
        <button aria-label="1" class="game-button"></button>
        <button aria-label="2" class="game-button"></button>
        <button aria-label="3" class="game-button"></button>
        <button aria-label="4" class="game-button"></button>
        <button aria-label="5" class="game-button"></button>
        <button aria-label="6" class="game-button"></button>
        <button aria-label="7" class="game-button"></button>
        <button aria-label="8" class="game-button"></button>
        <button aria-label="9" class="game-button"></button>
    </div>
    <p id="result"></p>
    <button id="reset">Reset</button>
</div>
