@use "/scss/components" as *;

.tictactoe-container {
    display: grid;
    font-weight: $fw-regular;
    gap: $sz-600;
    justify-content: center;
    text-align: center;

    #local-results {
        color: $white;
        display: flex;
        gap: $sz-900;
    }

    #game {
        display: grid;
        gap: $sz-200;
        grid-template-columns: repeat(3, min-content);
        margin-inline: auto;

        button {
            aspect-ratio: 1;
            user-select: none;
            cursor: pointer;
            background-color: $white;
            height: $sz-900;
            font-size: $fs-900;
            text-align: center;
            border-radius: $sz-200;
        }
    }

    #result {
        color: $white;
    }

    #reset {
        background-color: $white;
        border-radius: $sz-200;
        cursor: pointer;
        margin-inline: auto;
        padding: $sz-200 $sz-300;
        width: max-content;
    }
}
