<div class="tictactoe-container">
    <div id="local-results">
        <p id="x-win-local"></p>
        <p id="o-win-local"></p>
    </div>
    <div id="game">
        <div>
            <button class="game-button"></button>
            <button class="game-button"></button>
            <button class="game-button"></button>
        </div>
        <div>
            <button class="game-button"></button>
            <button class="game-button"></button>
            <button class="game-button"></button>
        </div>
        <div>
            <button class="game-button"></button>
            <button class="game-button"></button>
            <button class="game-button"></button>
        </div>
    </div>
    <p id="result"></p>
    <button id="reset">Reset</button>
</div>
