<div class="tictactoe-container">
    <div id="game">
        <div>
          <button class="game-button"></button>
          <button class="game-button"></button>
          <button class="game-button"></button>
        </div>
        <div>
          <button class="game-button"></button>
          <button class="game-button"></button>
          <button class="game-button"></button>
        </div>
        <div>
          <button class="game-button"></button>
          <button class="game-button"></button>
          <button class="game-button"></button>
        </div>
    </div>
</div>
