@use "/scss/components" as *;

.tictactoe-container {
    font-weight: $fw-regular;

    #game {
        padding: 10px;
        margin: 0 auto;

        div {
            margin: 0 auto;
            overflow: hidden;

            button {
                user-select: none;
                cursor: pointer;
                background-color: white;
                width: 100px;
                height: 100px;
                font-size: 50px;
                margin: 5px;
                float:left;
                text-align: center;
            }
        }
    }
}
