<div id="stopwatch">
    <div class="stopwatch-container">
        <p id="stopwatch-timer">00:00.00</p>
        <p id="lap-timer">00:00.00</p>
        <hr class="line">
        <ul class="lap" id="lap-list"></ul>
    </div>

    <div class="stopwatch-control">
        <button class="control_button" id="reset-stopwatch">RESET</button>
        <button class="control_button" id="start-stopwatch">START</button>
        <button class="control_button" id="lap-stopwatch">LAP</button>
    </div>
</div>
