@use "/scss/components" as *;

#stopwatch {
    display: grid;
    gap: $sz-500;

    .stopwatch-container {
        color: $white;
        height: 50vh;
        margin-inline: auto;
        overflow-y: auto;
    }

    .stopwatch-control {
        margin-inline: auto;

        button {
            background-color: $white;
            border-radius: $sz-200;
            font-size: $fs-600;
            padding: $sz-300 $sz-500;
        }
    }
}
