@use "/scss/abstracts" as *;

.container {
    background-color: $neutral-900;
    border-radius: $sz-300;
    padding: $sz-500;
    font-size: $fs-400;
    font-weight: bold;

    #toggle {
        background-color: $neutral-900;
    }
}
